body {
    background-color: #F8F5FA;
}
.topNav {
    background-color: #69656b;
}
.topNav button, a {
    background-color: #69656b;
    color: lightgrey;
}
.topNav button:hover, a:hover {
    background-color: #58535a;
    color: white;
}
.dropdown .dropbtn {
    color: lightgrey;
}
.dropdown-content {
    background-color: #69656b;
}
.dropdown-content button, a {
    color: lightgrey;
}
.dropdown-content button:hover, a:hover {
    background-color: #58535a;
    color: white;
}
.dropdown:hover .dropbtn {
    background-color: #58535a;
    color: white;
}
.sideBar {
    background-color: #e2e0e4;
}
.sideBar button {
    background-color: #e2e0e4;
}
.sideBar button:hover {
    background-color: #cfcbd3;
}
.checkbox {
    background-color: #F8F5FA;
}
.checkbox:hover {
    background-color: #ded9e0;
}
.inputArea {
    background-color: #F8F5FA;
}
::-webkit-scrollbar-thumb {
    background-color: #c4c1c7;
}
::-webkit-scrollbar-corner {
    background-color: #F8F5FA;
}
::selection {
    background-color: #b0a7b68a;
}
.floatButton {
    background-color: #F8F5FA;
}
.floatButton:hover {
    background-color: #ded9e0;
}