body {
    background-color: #00021F;
}
.topNav {
    background-color: #00021F;
}
.topNav button, a {
    background-color: #00021F;
    color: grey;
}
.topNav button:hover, a:hover {
    color: white;
}
.dropdown .dropbtn {
    color: grey;
}
.dropdown-content {
    background-color: #00021F;
}
.dropdown-content button, a {
    color: grey;
}
.dropdown-content button:hover, a:hover {
    color: white;
}
.dropdown:hover .dropbtn {
    color: white;
}
.sideBar {
    background-color: #00021F;
}
.sideBar button {
    background-color: #00021F;
    color: grey;
}
.sideBar button:hover {
    color: white;
}
.checkbox {
    background-color: #00021F;
    color: grey;
}
.checkbox:hover {
    color: white;
}
.inputArea {
    border-color: gray;
    background-color: #00021F;
    color: grey;
    caret-color: lightgrey;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(92, 91, 91);
}
::-webkit-scrollbar-corner {
    background-color: #00021F;
}
::selection {
    background-color: #257ec77e;
}
.floatButton {
    background-color: #00021F;
    color: grey;
}
.floatButton:hover {
    color: white;
}