body {
    background-color: #CAF4F4;
}
.topNav {
    background-color: #326464;
}
.topNav button, a {
    background-color: #326464;
    color: lightgrey;
}
.topNav button:hover, a:hover {
    background-color: #234e4e;
    color: white;
}
.dropdown .dropbtn {
    color: lightgrey;
}
.dropdown-content {
    background-color: #326464;
}
.dropdown-content button, a {
    color: lightgrey;
}
.dropdown-content button:hover, a:hover {
    background-color: #234e4e;
    color: white;
}
.dropdown:hover .dropbtn {
    background-color: #234e4e;
    color: white;
}
.sideBar {
    background-color: #abe2e2;
}
.sideBar button {
    background-color: #abe2e2;
}
.sideBar button:hover {
    background-color: #99cece;
}
.checkbox {
    background-color: #CAF4F4;
}
.checkbox:hover {
    background-color: #abdfdf;
}
.inputArea {
    background-color: #CAF4F4;
}
.inputArea::-webkit-scrollbar-thumb {
    background-color: #8db9b9;
}
.inputArea::-webkit-scrollbar-corner {
    background-color: #CAF4F4;
}
::selection {
    background-color: #62c7c78f;
}
.floatButton {
    background-color: #CAF4F4;
}
.floatButton:hover {
    background-color: #abdfdf;
}