body {
    background-color: antiquewhite;
}
.topNav {
    background-color: rgb(119, 98, 71);
}
.topNav button, a {
    background-color: rgb(119, 98, 71);
    color: lightgrey;
}
.topNav button:hover, a:hover {
    background-color: rgb(104, 83, 55);
    color: white;
}
.dropdown .dropbtn {
    color: lightgrey;
}
.dropdown-content {
    background-color: rgb(119, 98, 71);
}
.dropdown-content button, a {
    color: lightgrey;
}
.dropdown-content button:hover, a:hover {
    background-color: rgb(104, 83, 55);
    color: white;
}
.dropdown:hover .dropbtn {
    background-color: rgb(104, 83, 55);
    color: white;
}
.sideBar {
    background-color: rgb(223, 208, 188);
}
.sideBar button {
    background-color: rgb(223, 208, 188);
}
.sideBar button:hover {
    background-color: rgb(209, 189, 162);
}
.checkbox {
    background-color: antiquewhite;
}
.checkbox:hover {
    background-color: rgb(253, 221, 180);
}
.inputArea {
    background-color: antiquewhite;
}
.inputArea::-webkit-scrollbar-thumb {
    background-color: rgb(212, 187, 154);
}
.inputArea::-webkit-scrollbar-corner {
    background-color: antiquewhite;
}
::selection {
    background-color: rgba(221, 183, 134, 0.596);
}
.floatButton {
    background-color: antiquewhite;
}
.floatButton:hover {
    background-color: rgb(253, 221, 180);
}