body {
    background-color: white;
}
.topNav {
    background-color: #38393b;
}
.topNav button, a {
    background-color: #38393b;
    color: grey;
}
.topNav button:hover, a:hover {
    background-color: #454647;
    color: white;
}
.dropdown .dropbtn {
    color: grey;
}
.dropdown-content {
    background-color: #38393b;
}
.dropdown-content button, a {
    color: grey;
}
.dropdown-content button:hover, a:hover {
    background-color: #454647;
    color: white;
}
.dropdown:hover .dropbtn {
    background-color: #454647;
    color: white;
}
.sideBar {
    background-color: whitesmoke;
}
.sideBar button {
    background-color: whitesmoke;
}
.sideBar button:hover {
    background-color: rgb(226, 225, 225);
}
.checkbox {
    background-color: white;
}
.checkbox:hover {
    background-color: rgb(238, 237, 237);
}
.inputArea {
    background-color: white;
}
::-webkit-scrollbar-thumb {
    background-color: darkgrey;
}
::-webkit-scrollbar-corner {
    background-color: white;
}
::selection {
    background-color: rgba(170, 168, 168, 0.561);
}
.floatButton {
    background-color: white;
}
.floatButton:hover {
    background-color: rgb(238, 237, 237);
}