* {
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    overflow: hidden;
}
/* top navigation */
.topNav {
    position: fixed;
    height: 35px;
    width: 100%;
    z-index: 2;
}
.topNav button, a {
    float: left;
    height: 35px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 25px;
    font-family: 'Pencil', sans-serif;
    border: none;
}
.dropdown {
    float: left;
    overflow: hidden;
}
.dropdown .dropbtn {
    border: none;
    margin: 0;
}
.dropdown-content {
    position: absolute;
    margin-top: 35px;
    display: none;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    overflow-y: auto;
}
.dropdown-content button, a {
    float: none;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: left;
    text-decoration: none;
}
.dropdown-content button {
    width: 100%;
}
.dropdown:hover .dropdown-content {
    display: block;
}
/* main */
.main {
    position: absolute;
    top: 35px;
    bottom: 0px;
    width: 100%;
}
.toggleDiv {
    position: fixed;
    height: 100%;
    width: 15px;
}
.checkbox {
    height: 100%;
    width: 100%;
    border: none;
    font-size: 10px;
    padding: 0 0 0 0;
    cursor: pointer;
}
.sideBar {
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0;
    z-index: 1;
    display: none;
    max-height: 100%;
    overflow-y: auto;
}
.sideBar > button {
    width: 100%;
    display: flex;
    border: none;
    cursor: pointer;
    font-size: 25px;
    font-family: 'Pencil', sans-serif;
}
.closeBlock {
    height: 30px;
    width: 100%;
}
.closeButton {
    height: 100%;
    width: 30px;
    padding: 0;
    float: right;
    border: none;
    font-size: 25px;
}
/* sub main */
.subMain {
    position: absolute;
    height: 100%;
    left: 15px;
    right: 0px;
}
.column {
    float: left;
    height: 100%;
    width: 15%;
    padding-top: 5px;
    padding-bottom: 10px;
}
.inputArea {
    height: 100%;
    width: 100%;
    padding: 15px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    resize: none;
    outline: none;
    cursor: auto;
}
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
.displayColumn {
    position: absolute;
    left: 15%;
    right: 0;
    height: 100%;
}
.svgDiv {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 25px;
}
.floatButtonArea {
    position: absolute;
    bottom: 0px;
    height: 25px;
    left: 50px;
}
.floatButton {
    height: 100%;
    float: left;
    border: none;
    cursor: pointer;
}